body,html{
    scroll-behavior: unset !important;
}
ul {
    list-style: none;
}
nav {
    width: 300px;
    top: 0;
    left: -300px;
    bottom: 0;
}
nav a {
    text-decoration: none;
    color: white;
}
.nav-open,
.nav-close {
    cursor: pointer;
}
.header {
    background-image: linear-gradient(
            rgba(145, 36, 39, 0.6),
            rgba(151, 33, 37, 0.6)
        ),
        url(../imgs/speaker-performing-stage-with-spotlight-talking-many-people-audience-event-professional_285885-4661.jpg);
    background-position: center center;
    background-size: 100% 100%;
}

.talkers-toggle h2 {
    background-color: rgba(214, 46, 51, 0.6);
    color: white;
}

.talker p {
    display: none;
    margin: 0;
    padding: 10px;
}
.counter {
    background-image: linear-gradient(
            rgba(151, 33, 37, 0.8),
            rgba(151, 33, 37, 0.8)
        ),
        url(../imgs/invitation-2508607__340.jpg);
    background-position: center center;
    background-size: 100% 100%;
}
.social li {
    border: #777 solid 1px;
    padding: 10px;
    transition: 0.3s;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li:hover {
    background-color: #d62e33;
    color: white;
}
.contact li i {
    padding: 0 15px;
}
